body {
    margin: 0;
    background-color: #191a1a;
    color: #ededed;
    font-family: "Nunito", sans-serif;
}
.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212224;
    border-radius: 10px;
    width: 30%;
}
.cont label {
    color: rgb(6, 81, 245);
}
.cont label:hover {
    text-decoration: underline;
    cursor: pointer;
}
.cont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    width: 150px;
    margin-top: 10px;
    background: rgb(3, 46, 140);
    color: #fff;
    border: 1px solid rgb(3, 46, 140);
    border-radius: 5px;
    padding: 15px;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

button:hover {
    background: none;
    color: #5d8ffc;
    border: 1px solid rgb(3, 46, 140);
    cursor: pointer;
}
#temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup {
    background-color: #212224;
}
.swal-button {
    border: none !important;
}
.swal-button:hover {
    color: #ededed !important;
    border: none !important;
}
.swal-title,
.swal-text {
    color: whitesmoke;
}
